<div>
    <p></p>
    <h3>Регистрация</h3>
    <p></p>

    <form novalidate ng-submit="functionRegistration()">
        <input class="form-control" type="text" placeholder="Имя пользователя" ng-model="reguser.username">
        <p></p>
        <input class="form-control" type="text" placeholder="Email" ng-model="reguser.email">
        <p></p>
        <input class="form-control" type="password" placeholder="Пароль" ng-model="reguser.password">
        <p></p>
        <input class="form-control" type="password" placeholder="Подтверждение пароля" ng-model="reguser.confirmPassword">
        <p></p>
        <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
    </form>

</div>